{{ partial "header.html" . }}
<body>
	{{ partial "navbar.html" . }}
    <div class="site-overlay"></div>
    <div class="wrapper">
        <h1 data-section-id="#home" class="youarehere">{{ .Site.Title }}</h1>
        <section id="{{ .Title | urlize }}" class="selfclear">
        	<div class="sect-single selfclear">
        		<div class="size1of1">
                    <p>
                        {{ .Content }}
                    </p>
                </div>
        	</div>
        </section>
        </div>

        {{ partial "footer.html" . }}