{{ partial "header.html" . }}
<body>
	{{ partial "navbar.html" . }}
    <div class="site-overlay"></div>
    <div class="wrapper">
    	<h1 data-section-id="#home" class="youarehere">{{ .Site.Title }}</h1>
    	<section id="home">
    		<div class="sect-hero hero-us selfclear">
    			<div class="size1of1">
    				<p class="hero-quote">{{ .Site.Params.heroquote }}</p>
    				<!-- 53px/57px -->
    				<p class="hero-quote-author">{{ .Site.Params.heroquoteauthor }}</p>
    			</div>
    		</div>
    	</section>

    	<h1 data-section-id="#beer">Our Beers</h1>
    	<section id="beer" class="sect-beer selfclear">
    		<div class="size1of1">

    			<div id="beer-wrapper">
    				<span class="toggle-view"><img class="ico-grid" src="img/icon-grid.png" alt=""><img class="ico-col" src="img/icon-column.png" alt=""></span>

    				<div class="beer-wrapper-interior">
                        {{ range where .Data.Pages "Section" "beer" }}
                        <div class="single-beer-wrap hoverable" id="{{ .Title | urlize }}">
                            <a href="{{ .Permalink }}">
                                <span class="wrap-beer-details">
                                    <p class="when">{{ .Params.params.BrewDate }}</p>
                                    <span class="line"></span>
                                    <h2>{{ .Title }}</h2>
                                    <span class="line"></span>
                                    <p>View Beer <span class="caret-prompt">››</span></p>
                                </span>
                            </a>
                        </div>
        <style>#beer-wrapper .beer-wrapper-interior .single-beer-wrap#{{ .Title | urlize }}:after {
        background-image: url(../img/beers/slider-{{ .Title | urlize }}.jpg); }
        #beer-wrapper.gridy .beer-wrapper-interior .single-beer-wrap#{{ .Title | urlize }}:after {
        background: url(../img/beers/glass-{{ .Title | urlize }}.jpg) center -50% no-repeat;
        background-size: 160%; }</style>
                        {{ end }}

    				</div>
    				<!--end beer wrapper interior -->
    			</div>
    			<!-- end beer wrapper -->
    		</div>
    	</section>

    	<h1 data-section-id="#friends">Our Friends</h1>
    	<section id="friends" class="sect-friend selfclear">
            {{ range where .Data.Pages "Section" "friends" }}
    		<div class="size1of2 single-friend-wrap">
    			<a href="{{ .Permalink }}">
    				<h2>{{ .Title }}</h2>
    				<img class="foregroundImg" src="img/friends/{{ .Title | urlize }}.gif" alt="">
    				<img class="backgroundImg" src="img/friends/{{ .Title | urlize }}.jpg" alt="">
    			</a>
    		</div>
            {{ end }}
    	</section>
        {{ if .Site.Params.team }}
    	<h1 data-section-id="#team">Our Team</h1>
    	<section id="team" class="sect-team selfclear">
            {{ range sort .Site.Params.team }}
            <div class="size1of4 single-team-wrap headshot">
                <a>
                    <p class="person-name">{{ . }}</p>
                    <img class="teamImg" src="img/team/{{ . | urlize }}.jpg" alt="{{ . }}" />
                </a>
            </div>
            {{ end }}
            <div class="size1of4 single-team-wrap job-opening">
                <a href="#" class="selfclear">
                    <p class="person-name">Want to work<br>at {{ .Title }}?</p>
                    <p class="job-link"><span class="mimic-link">Job openings <span class="caret-prompt">››</span></span></p>
                    <img class="teamImg" src="img/job-photo.jpg" alt="">
                </a>
            </div>
        </section>
        {{ end }}
        {{ if .Site.Params.instagram }}
        <h1 data-section-id="#instagram">Our Feed</h1>
        <section id="instagram" class="sect-instagram selfclear">
        	<div class="size1of1">
        		<div class="single-instagram-header">
        			<p class="h2"><span class="grayed">Follow</span> <a href="http://instagram.com/{{ .Site.Params.instagram }}" target="_blank"><span class="at-symbol">@</span>{{ .Site.Params.instagram }}</a> <span class="grayed">on Instagram</span></p>
        		</div>
        	</div>
        	<div class="size1of1">
        		<div id="instafeed"></div>
        	</div>
        </section>
        {{ end }}
        <h1 data-section-id="#tastingroom">Our Tasting Room</h1>
        <section id="tastingroom">
        	<div class="sect-tastingroom selfclear">
        		<div class="size1of1">
        			<h2>{{ .Site.Params.address1 }}{{ if .Site.Params.address2 }},<br> {{ .Site.Params.address2 }}{{ end }}{{ if .Site.Params.addresshelp }}<br>{{ .Site.Params.addresshelp }}{{ end }}</h2>
        		</div>

        		<div class="size1of2 unitA">
        			<div class="single-room-wrap selfclear">
        				<h3>Now on Tap:</h3>
        				<p>
        					<p>
                                {{ range sort .Site.Params.ontap }}{{ . }}<br>{{ end }}
        					</p>
        				</p>

        				<h3>Bottles to Go:</h3>

        				<ul class="bottle-stock">
                            {{ range sort .Site.Params.bottlestock }}<li>{{ . }}</li>{{ end }}
        				</ul>
        				<p>
        					{{ if .Site.Params.growlerstatus }}<p><em>{{ .Site.Params.growlerstatus }}</em></p>{{ end }}
        				</p>
        			</div>
        			<!--.single-room-wrap-->
        		</div>
        		<div class="size1of2 unitB">
        			<div class="single-room-wrap selfclear">

        				<p class="h5">Hours:</p>
        				<p><span>{{ range .Site.Params.hours }}{{ .days }}: {{ .hours }}<br>{{ end }}</span></p>
        				{{ range .Site.Params.taproom }}
                        <p>
        					<p>{{ .content }}</p>
        				</p>
                        {{ end }}
        			</div>
        			<!--.single-room-wrap-->
        		</div>
        	</div>
            <div class="beeradvocate-wrapper">
                <div class="beeradvocate-branding">
                    <a href="http://www.beeradvocate.com/beer/profile/{{ .Site.Params.beeradvocate }}" target="_blank"><img src="img/logo-beeradvocate.png" alt=""></a>
                </div>

                <div class="beeradvocate-feed">
                    <p>Place Score</p>
                    <p>{{ .Site.Params.baScore }}</p>
                    <p>{{ .Site.Params.baTitle }}</p>
                    <p>{{ .Site.Params.baRatings }}+ Reviews</p>
                </div>

                <div class="beeradvocate-footer">
                    <span>Data provided by <a href="http://www.beeradvocate.com/beer/profile/{{ .Site.Params.beeradvocate }}" target="_blank">BeerAdvocate</a></span>
                </div>
            </div>


           <div id="untappd-wrapper" data-venueid="{{ .Site.Params.untappedID }}">
                <div id="untappd-branding">
                    <a href="http://untappd.com/{{ .Site.Params.untappd }}" target="_blank"><img src="img/logo-untappd.png" alt=""></a>
                </div>
                <div class="loading-indicator">
                    <div class="load-wrap">
                        <div class="cap-wrap">
                            <div class="ridges"></div>
                            <div class="top"></div>
                        </div>
                        <span>Loading feed</span>
                    </div>                             
                </div>
                <ul id="untappd-feed">
                    <!-- feed gets placed here -->
                </ul>

                <div class="untappd-footer">
                    <span>Data provided by <a href="http://untappd.com/{{ .Site.Params.untappd }}" target="_blank">Untappd</a></span>
                </div>
            </div>
        </section>
        <h1 data-section-id="#distribution">Our Distribution</h1>
        <section id="distribution" class="sect-distribution selfclear">
        	<div class="size1of2 unitA selfclear">
        		<div class="single-distro-wrap">
        			<h2>Pigeon Hill Upcoming Events</h2>
        			<div class="beer-finder">
        				<a href="https://www.facebook.com/{{ .Site.Params.facebook }}/events?key=events">
        					<img src="img/events.png" alt="Events Calendar">
        					<span class="events-ghost"><img src="img/text/take-a-look.png" alt="Take a look"></span>
        				</a>
        			</div>
        		</div>
        	</div>
        	<div class="size1of2 unitB selfclear">
        		<div class="single-distro-wrap">
        			<h3>Distribution:</h3>
        			<p>
        				<p><strong>Our beer is currently distributed in the West Michigan area on draft only.</strong></p>
        			</p>
        			<p>
        				<p><em>We are not able to ship beer directly to consumers, so please stop on by our Tasting Room where you can purchase our beer. Cheers!</em></p>
        			</p>
        		</div>
        	</div>
        </section>

        <h1 data-section-id="#events">Our Events</h1>
        <section id="events" class="sect-event selfclear">
        	<div class="size1of1"></div>
        </section>
        <div style="width: 100%; height: 1px; background: white;"></div>

        <h1 data-section-id="#visit">Visit Us</h1>
        <section id="visit" class="sect-connection selfclear">
        	<div class="size1of3">
        		<div class="single-connection-wrap">
        			<p class="h5">Visit the Tasting Room:</p>
        			<p>{{ .Site.Params.address1 }}{{ if .Site.Params.address2 }}, <br>{{ .Site.Params.address2 }}{{ end }}</p>

        				<p class="h5">Hours:</p>
                        <p><span>{{ range .Site.Params.hours }}{{ .days }}: {{ .hours }}<br>{{ end }}</span></p>
        			</div>
        			<!--.single-connection-wrap-->
        		</div>
        		<div class="size1of3">
        			<span class="line-vert"></span>
        			<div class="single-connection-wrap">
        				<p class="h5">Follow {{ .Title }}:</p>
        				<ul class="social-list">
        				{{ if .Site.Params.facebook }}<li><a href="https://www.facebook.com/{{ .Site.Params.facebook }}/" target="_blank"><i class="fa fa-facebook"></i></a></li>{{ end }}
        					{{ if .Site.Params.twitter }}<li><a href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>{{ end }}
        					{{ if .Site.Params.untappd }}<li><a href="https://untappd.com/{{ .Site.Params.untappd }}" target="_blank"><img src="img/icon-untappd.png" alt="Untappd"></a></li>{{ end }}
        					{{ if .Site.Params.instagram }}<li><a href="https://instagram.com/{{ .Site.Params.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a></li>{{ end }}
        				</ul>
        			</div>
        			<!--.single-connection-wrap-->
        		</div>
        		<div class="size1of3">
        			<span class="line-vert"></span>
        			<div class="single-connection-wrap">
        				<p class="h5">Get in touch:</p>
        				<p>{{ .Site.Params.phone }}</p>
        				<p class="link-email"><a href='mailto:{{ .Site.Params.email }}'>email</a> | <a href="#">employment</a></p>
        			</div>
        			<!--.single-connection-wrap-->
        		</div>
        	</section>
        	<div class="map-wrap">
        		<div id="map_canvas"></div>

        		<div class="place-card">

        			<div class="left-side">
        				<h2>{{ .Title }}</h2>
        				<p>{{ .Site.Params.address1 }}{{ if .Site.Params.address2 }}, {{ .Site.Params.address2 }}{{ end }}</p>
        				<a href="{{ .Site.Params.googlemaps }}" target="_blank">View larger map</a>
        			</div>

        			<div class="right-side">
        				<a href="{{ .Site.Params.googlemaps }}" target="_blank">
        					<img src="img/google-maps-logo.png" alt="Google Maps">
        					<span>Directions</span>
        				</a>
        			</div>

        		</div>
        		<!--.place-card-->

        	</div>
        

        {{ partial "footer.html" . }}