<div id="age-gate-overlay-wrap">
	<div id="age-gate-overlay">
		<img class="age-gate-logo" src="img/age-gate-logo.png">
		<h2>Are you at least 21 years old?</h2>
		<a href="?age-gate=c528c72dfc" class="accept btn btn-large">Yes</a>
		<a href="http://www.tacospin.com/" class="reject btn btn-large">No</a>
	</div>
</div>
<script type="text/javascript">
jQuery( document ).ready( function( $ ) {
	
	$( document ).on( 'click', '#age-gate-overlay-wrap .accept', function( e ) {
		
		e.preventDefault();
		
		$( '#age-gate-overlay-wrap' ).fadeOut( 400 );
		
		$.cookie( 'age-verified', '1', { expires: 1, path: '/' } );
		
	} );
	
	if (window.location.href.indexOf("?app") > -1) {
		$( '#age-gate-overlay-wrap' ).css('display', 'none');
    	$.cookie('app-verified', '1', { expires: 1, path: '/' } );
	}
} );
</script>
<style type="text/css">
#age-gate-overlay-wrap { 
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000; 
}

#age-gate-overlay {
  position: relative;
  margin:0 auto; 
  top: 50%;
  z-index: 10001;
  text-align:center;
  max-width:555px;
  
  transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
}

#age-gate-overlay .age-gate-logo {
  padding-bottom:50px;
}

#age-gate-overlay h2 {
  font-size:35px;
  color:#94200E;
  padding-bottom:15px;
}

#age-gate-overlay .btn {
  background: none repeat scroll 0 0 #94200E;
    border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
    box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    padding: 10px 40px;
    text-shadow: none;
    text-transform: uppercase;
  display:block;
  width:100px;
  margin:15px auto 0 auto;
}

#age-gate-overlay .btn:hover {
  text-decoration:underline;
}
@media (max-width: 767px) {
  #age-gate-overlay h1 {
    font-size:65px;
    line-height:65px;
  }
}

@media (max-width: 767px) {  
  #age-gate-overlay h2 {
    font-size:18px;
    line-height:18px;
  }
  
  #age-gate-overlay {
    max-width:450px;
  }
  
  #age-gate-overlay .age-gate-logo {
    width:145px;
    padding-bottom:20px;
  }
  
  #age-gate-overlay .btn {
    display:inline-block;
    margin:15px 8px 0;
  }
}

@media (max-width: 480px) {
  #age-gate-overlay h2 {
    font-size:25px;
    line-height:25px;
  }
  
  #age-gate-overlay {
    max-width:310px;
  }
  
  #age-gate-overlay .age-gate-logo {
    width:165px;
    padding-bottom:20px;
  }
}
</style>