	{{ if .Site.Copyright }}
	<section id="copyright" class="sect-connection selfclear">
		<div class="size1of1">
			<div class="single-connection-wrap">
				<p>{{ .Site.Copyright }}. <a href="{{ .Site.BaseURL }}/privacy-policy-return-policy">Privacy Policy</a>. Made with <i class="fa fa-heart"></i> by <a href="http://sleepingbeardesign.com/" target="_blank">Sleeping Bear Design</a></p>
			</div>
		</div>
	</section>
	</div>
	{{ end }}
	{{ partial "age.html" . }}
    <script src="https://maps.google.com/maps/api/js"></script>
    <script src="js/ThrowPropsPlugin.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.1/TweenMax.min.js"></script>
    <script src="http://www.greensock.com/js/src/utils/Draggable.min.js"></script>
    <script src="js/instafeed.min.js"></script>
    <script src="js/pushy.js"></script>
    <script src="js/untappd.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/tooltipsy.min.js"></script>
</body>

</html>