    <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="js/ThrowPropsPlugin.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.1/TweenMax.min.js"></script>
    <script src="http://www.greensock.com/js/src/utils/Draggable.min.js"></script>
    <script src="js/instafeed.min.js"></script>
    <script src="js/pushy.js"></script>
    <script src="js/untappd.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/tooltipsy.min.js"></script>
</body>

</html>