<nav class="pushy pushy-left">
		<div class="masthead-nav selfclear">
			<span class="close-btn"><i class="fa fa-times"></i></span>
			<img class="barley" src="img/mbc-barley.png" alt="">
			<div class="logotype">
				<p><a href="index.html">{{ .Site.Title }}</a></p>
			</div>
		</div>
    <h2><a href="index.html">{{ .Site.Title }}</a></h2>
    <ul class="active-page">
    	<li class="hide-from-nav"><a href="index.html">Home</a></li>
    	<li><a href="#tenets">Tenets</a></li>
    	<li><a href="#beer">Beer</a></li>
    	<li class="hide-from-nav"><a href="#friends">Friends</a></li>
    	<li class="hide-from-nav"><a href="#team">Team</a></li>
    	<li class="hide-from-nav"><a href="#instagram">Instagram</a></li>
    	<li><a href="#tastingroom">Tasting Room</a></li>
    	<li class="hide-from-nav"><a href="#distribution">Distribution</a></li>
        <li><a href="#visit">Visit Us</a></li>
        <li><a href="http://myshopify.com" target="_blank">Shop</a></li>
    </ul>
</nav>